.body{
	margin-top: 25px;
	background-color:#7093DB;
	background-position: 75% 75%;
}

.landmain{

	
    position: fixed;
    top:253px;
    left: 495px;
	
}
.landfont{
	font-size:20px;
	font-family: "华文行楷";
	color:black;

}
.title{
	font-family: 华文行楷;
	font-size:40px;
	position:fixed;
	top:145px;
	left:530px;
}
.singal{
	position: fixed;
    top:35px;
    left: 940px;
	
}
.poster{
	position: fixed;
	top:515px;
}
.posterfont{
	font-size: 20px;
	font-family: 华文新魏;
	color:yellow;
}
