.top{
	position: fixed;
	left: 175px;
	top:0px;
	background-color: grey;
	border: solid 1px grey;
	width:1060px;
	height:40px;
}
.systemname{
	margin-top: 8px;
	font-family: 华文行楷;
	font-size: 32px;
	color: green;
	text-align: center;
}
.footer{
	position: fixed;
	left: 175px;
	top:554px;
	background-color: green;
	border: solid 1px grey;
	width:1060px;
	height: 31px;
}
.banquan{
	margin-top: 5px;
	font-family: 宋体;
	font-size: 16px;
	color: white;
	text-align: center;
}
.sidebar{
	position:fixed;
	left: 175px;
	top: 42px;
	width: 256px;
	height: 512px;
	border:solid 1px grey;
}
.connect{
	position:fixed;
	left: 219px;
	top: 91px;

	width: 100px;
	height: 120px;
	

}
.connect a{
	text-decoration: none;
}
.connect  a:link
	{ color:black;
		background-color: white;
	}
.connect a:visited{
		color: blue;
	}
.connect a:hover{
	background-color: yellow;
	}
